<div class="container">
    <!-- Hero Section -->
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to the Presidential Elections Platform</h1>
            <p class="lead">Explore candidates, vote, and view real-time election results!</p>
            <hr class="my-4">
            <button class="btn btn-primary btn-lg" routerLink="/candidates">View Candidates</button>
            <button class="btn btn-secondary btn-lg" routerLink="/results">Check Results</button>
        </div>
    </div>

    <!-- Features Section -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/candidates.gif" alt="Candidates">
                <div class="card-body">
                    <h5 class="card-title">Candidates</h5>
                    <p class="card-text">Explore all the presidential candidates and their electoral programs.</p>
                    <a class="btn btn-primary" routerLink="/candidates">View Candidates</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/results.gif" alt="Results">
                <div class="card-body">
                    <h5 class="card-title">Election Results</h5>
                    <p class="card-text">Follow the election results in real-time and analyze the voting trends for better choice.</p>
                    <a routerLink="/results" class="btn btn-primary">Check Results</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/vote.gif" alt="Vote">
                <div class="card-body">
                    <h5 class="card-title">Vote</h5>
                    <p class="card-text">Participate in the election by casting your vote to support your favorite
                        candidate.</p>
                    <a routerLink="/candidates" class="btn btn-primary">Vote Now</a>
                </div>
            </div>
        </div>
    </div>
</div>